
{% extends 'base.html' %}
<script>
{% block jquery %}
const endpoint = '/api/chart/data/'
const defaultData = []
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        console.log(data)
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
{% endblock %}

</script>


{% block content %}

<h1>MLB Player Comparison</h1>
<canvas id="myChart" width="200" height="200"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'radar',
    data: {
        labels: ['ab', 'avg', 'babip', 'h', 'hr', 'obp', 'ops', 'r', 'rbi', 'sb', 'slg', 'so', 'vorp', 'warp'],
        datasets: [{
            label: 'Mike Trout',
            data: [
    .470,
    .291,
    .298,
    137,
    45,
    .438,
    1.083,
    110,
    104,
    11,
    .645,
    120,
    81.5,
    9.34
    ],
            backgroundColor: '#45b6f3',
            borderColor: '#3792cb',
            borderWidth: 2
        },
        {label: 'Cody Bellinger',
            data: [
    .558,
    .305,
    .302,
    170,
    47,
    .406,
    1.035,
    121,
    115,
    15,
    .629,
    108,
    66.2,
    8.91
    ],
            backgroundColor: '#ff3d41',
            borderColor: '#ff0000',
            borderWidth: 2}
        ]

        
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}