{% extends 'base.html' %}
{% block content %}

<h1>Player</h1>
<div class="container">
    <div class="row">


<div class="card shadow w-50">
  <div class="card-body">
    <h5 class="card-title">{{ player.name }}</h5>
    <p>Team: {{ player.team }}</p>
    

    <div class="card-action">
      <a href="{% url 'player_edit' player.id %}" class="btn btn-primary" role="button">Edit</a>
      <a href="{% url 'player_delete' player.id %}" class="btn btn-danger" role="button">Delete</a>
    </div>
</div>
</div>
</div>
</div>

{% endblock %}