{% extends 'base.html' %}
<script>
{% block jquery %}
const endpoint = '/api/chart/data/'
const defaultData = []
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        console.log(data)
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
{% endblock %}

</script>


{% block content %}

<h1>MLB Player Comparison</h1>
<br>
<p>
    Baseball statistics have always been ripe for analysis. This project attempts to utilize visual tools to compare players. Select whether you want to compare a set of pitchers or batters on the left and then search players in the two dropdown boxes. If your interest is in winning your fantasy baseball league or seeing how your favorite players stack up, you will see stats in a whole new way.
</p>
{% endblock %}