{% extends 'base.html' %}

{% block content %}
<h1>Players</h1>

<div class="container">
<div class="row">

<div class="col-9">
{% for player in players %}
  <div class="card shadow bg-primary mb-3">
   <a href="/players/{{ player.id }}">   
    <div class="card-body text-white">
      <h5 class="card-title">{{ player.name }}</h5>
      <p class="card-text">Team: {{ player.team }}</p>
      <!-- <p>Home Runs in 2020: {{ homeruns.hr2020 }}</p>
      <p>162 Game Projection: {{ homeruns.hr162 }}</p> -->
    </div>
    </a>
  </div>
{% endfor %}
</div>
<div class="col-3">
    <form action="{% url 'players' %}" method="POST">
      {% csrf_token %} {{ player_form.as_p }}
      <input type="submit" class="btn btn-secondary" value="Add player" />
    </form>
  </div>
</div>
</div>


{% endblock %}